
 

 /* Hover underline */

 .hover-underline-animation {
    display: inline-block;
    position: relative;
   
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00A6B2;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

 




 /* HOVER UNDELINE END */





.customColor{
    background-color: rgba(255, 255, 255);
 
    position: sticky;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
   
}


/* .customColor  .white {
    color:#49465D;

} */

.customWhite{
    color: white;
}

.bg-hov2 {
    /* position: relative; */
    transition: .5s;
}

.bg-hov2:hover {

    transform: translateY(-4px);
    z-index: 2;

}
.bg-hov3 {
    /* position: relative; */
    transition: .5s;
}

.bg-hov3:hover {

    transform: translateY(-8px);
    z-index: 2;

}

.nav-text{
    font-size: 14px;
}



.nav-text :hover {

    

}
.nav-img{

    /* w-[80px] h-[80px] */
    width: 60px ;
    height: 60px;
}
.nav-font{
    font-size: 20px;
    

    /* font-size: 5em; */

}

.nav-size{
    width: 98%;
}
@media only screen and (min-width:1600px) and (max-width:3000px){
    .nav-font{
        font-size: 28px;
        

        /* font-size: 5em; */

    }
    .nav-text{
        font-size: 14px;
    }

    .nav-img{

        /* w-[80px] h-[80px] */
        width: 80px ;
        height: 80px;
    }

}
.nav-size{
    width: 97%;
}
@media only screen and (min-width:900px) and (max-width:1100px){
   .nav-size{
    width: 98%;
}



}

@media only screen and (max-width:688px) {
    .nav-font{
        font-size: 28px;
    }
    .nav-img{

        /* w-[80px] h-[80px] */
        width: 70px ;
        height: 70px;
    }

}

@media only screen and (min-width:688px) and (max-width:1100px){

    .nav-font{
        font-size: 24px;
    }
}
@media only screen and (min-width:1600px) and (max-width:3000px){
    .nav-font{
        font-size: 28px;
    }
    .nav-text{
        font-size: 15px;
    }
    .nav-img{

        /* w-[80px] h-[80px] */
        width: 80px ;
        height: 80px;
    }
    

}

@media only screen and (min-width:2400px) and (max-width:3000px){
    .nav-font{
        font-size: 28px;
    }
    .nav-text{
        font-size: 15px;
    }
    .nav-img{

        /* w-[80px] h-[80px] */
        width: 80px ;
        height: 80px;
    }
    

}


