.contact-container {
  background: url("../../../assets/hhaContactBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 100vh; */
}

/* linear-gradient(180deg, rgba(0, 0, 0, 0.624) 0%, rgba(0, 0, 0, 0.687) 100%), */

/* @media only screen and (min-width: 1500px) and (max-width: 5000px) {
  .contact-adjustment {
    margin-top: 12vh;
  }
} */
