@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* .roboto {
  font-family: "Roboto", sans-serif;
} */
body {
  font-family: "Roboto", sans-serif;
}
.playrify {
  font-family: "Playfair Display", serif;
}

/* Custom style */

.afterEffect::after {
  content: "";
  position: absolute;
  height: 1px;
  display: inline-block;
  width: 50px;
  bottom: 0;
  background: #00a6b2;
  left: 50%;
  transform: translateX(-50%);
}
